.app {
    width: 100vw;
    height: 100vh;
    font-size: 24px;
    user-select: none;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.arrow {
    fill: rgb(128, 128, 128);
}

.line {
    stroke-width: 10px;
    stroke: rgb(128, 128, 128);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.row {
    font-size: .8em;
    display: flex;
    background-color: rgba(0, 0, 0, .4);
    padding: .2em;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.orange {
    color: rgb(253, 192, 0);
}

.sprite {
    color: rgb(30, 71, 130);
}

.solute_container {
    height: 160px;
    padding-top: 80px;
}

.tank_container {
    flex: 1;
}

.mixture_container {
    height: 160px;
    padding-top: 80px;
}

.box {
    position: absolute;
    height: 160px;
    width: 160px;
    margin-top: -80px;
    margin-left: -80px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    padding: .2em;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 8px;
    color: white;
    white-space: nowrap;
}

.tank {
}

.mixture {
}

.foreground {
    position: absolute;
}

.controller {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button {
    height: 40px;
}

.pipe {
    position: absolute;
    height: 64px;
    width: 64px;
    margin-top: -32px;
    margin-left: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}